.card {
  width: 355px;
  height: 539px;
  padding: 10px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative; /* For absolute positioning of delete button */
}

.title {
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0 0 10px 0;
  text-align: center;
}

.imageContainer {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #444;
}

.image {
  font-size: 3rem;
  color: #fff;
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linkGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flexItem {
  flex: 1;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #ff0000;
  padding: 15px;
  border-radius: 45%;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  box-sizing: border-box;
}

.link.active {
  background-color: #90ee90;
}

.link.disabled {
  background-color: #ff0000;
}

.showInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.showInfo {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #90ee90;
  padding: 15px;
  border-radius: 45%;
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.hidden {
  display: none;
}